wheel
pytest
pytest-runner
nose
pytest-cov
setuptools
scikit-build
cmake
ninja
clipt~=1.0.10
skyfield~=1.42
matplotlib~=3.5.1
clasp
numpy
scipy
pybind11
scikit-build
sklearn
tqdm
Click~=8.1
Shapely~=1.8.1